body {
  color: $keyWhite;
  background-color: #000;
  // max-width: 1200px;
  margin: auto;
  .container {
    width: 100%;
  }
}
img{
  width: 100%;
  font-size: 0;
}
a{
  color: $keyWhite;
  text-decoration: none;
}
