@mixin book{
    width: 360px;
    height: 500px;
    background-color: $keyBlack;
    font-size: 12px;
    font-family: $en;
    font-weight: $fw_Bold;
    box-shadow: black 2px 2px;

    >img{
        width: 120px;
        height: 120px;
        border-radius: 6px;
    }
    > .name{
        font-size: 2.25 * $fontbase;
        color: $blockYellow;
    }
    > .book_left{
        color: $keyGreen;
    }
    > .book_right{
        color: $keyWhite;
    }
}