@mixin form($width, $height){
    color: #000000;
    opacity: .8;
    > label{
        font-size: 1.25 * $fontbase;
        font-weight: $fw_Regular;
        color: $keyGreen;
    }
    > input{
        font-size: 1.25 * $fontbase;
        font-weight: $fw_Regular;
        color: $keyBlack;
        border-radius: 6px;
        padding: 0 10px;
        width: $width;
        height: 40px;

    }
    > select{
        font-size: 1.25 * $fontbase;
        font-weight: $fw_Regular;
    }
    > textarea{
        border-radius: 6px;
        padding: 10px;
        width: $width;
        height: $height;
        font-size: $fontbase;
        font-weight: $fw_Light;
        font-family: $en;
        color: $textBlack; 
    }
}