/*顏色*/
$keyGreen: #1BB8CE;
$keyWhite: #ffffff;
$keyBlack: #333333; /*白底字*/
$textBlack: #444444; /*內文白底*/
$blockYellow: #FBE108;
$opacity: 0.9;




/*字體*/
$en: "Roboto", sans-serif; /*字體*/
$fontbase: 16px;
$fw_Bold: 700;
$fw_Regular: 400;
$fw_Light: 300;



$titleFz: 36px; /*h3大標*/
$title_margin: 50px; /*白色區塊margin*/

$subtitleFz: 20px; /*h4大標*/

/*按鈕*/
$button_height: 60px;
